body {
    margin: 0;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
}


a {
    text-decoration: none;
    color: #333;
}

a:link, a:visited, a:hover, a:active{
    text-decoration:none;
    color: #333;
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgba(255,255,255,0);
    position: fixed; /* Set to fixed position */
    top: 0; /* Position at the top of the page */
    min-width: 100%; /* Full width */
    height: 80px;
}

/* Links inside the navbar */
.navbar a {
    font-family: 'Open Sans', sans-serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;

    /* Padding: vertical horizontal */
    padding: 30px 15px;
    text-decoration: none;
    /* Fade effect from ianlunn.github.io/Hover */

    vertical-align: middle;

}

/* Change background on mouse-over */
.navbar a:hover, a:focus {
    color: #61CDE8;
}


.home {
    font-size: 50px;
    padding: 0px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-text {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 70px;
}

.inner {
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
}


.tagline {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    padding-bottom: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
}

#featured-recipe {
    position: relative;
    background-color: #f8f8f8;
    display: table;
    margin-top: -30px;
    font-size: 24px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
}

.featured-image {
    display: table-cell;
    width: 65%;
}

.featured-info {
    font-family: 'Martel', serif;
    position: relative;
    font-weight: normal;
    display: table-cell;
    width: 35%;
    right: 0;

}

.featured-inner {
    padding: 14% 7em 2.8em;
    text-align: center;
}


.featured-title {
    font-weight: normal;
}

.featured-text {
    font-size: medium;
}


.featured-link {
    font-size: small;
    color: black;
    text-decoration: underline;
}

.featured-link:hover {
    text-decoration: none;
}

.vl {
    border-left: 1px solid black;
    position: absolute;
    height: 400px;
    left: 50%;
    margin-left: -3px;
    top: 45%;
}





.right {
    float: right;
}


#footer{
    background: #fafafa;
    text-align: left;
    color: #b1b1b1;
    padding-top: 20px;
    padding-bottom: 32px;
    font-size: 12px;
    line-height: 20px;
}