body {
    margin: 0;
    font-size: 14px;
    font-family: 'Martel', serif;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
}


a {
    text-decoration: none;
    color: #333;
}

a:hover, a:active{
    text-decoration:none;
    color: #61CDE8;
}


.page-container {
    position: relative;
    min-height: 100vh;
    background-color: #f4f4f4;

}

.content-wrap {
    padding-bottom: 70px;
}

.inner {
    background: none;
    max-width: 1024px;
    padding-bottom: 70px;
    height: auto;
    margin: 0 auto;
    /* same height as top, since nav bar is 80px currently */

}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set to fixed position */
    top: 0; /* Position at the top of the page */
    min-width: 100%; /* Full width */
    height: 70px;
    z-index: 10;
}

/* Links inside the navbar */
.navbar a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    float: left;
    display: block;
    color: #363d3a;
    text-align: center;

    /* Padding: vertical horizontal */
    padding: 23px 15px;
    text-decoration: none;
    vertical-align: middle;
}


.nav-right {
    float: right;
    height: 100%;
}
.nav-right a {
    padding: 12px 0 0;
}

.nav-right img {
    width: 25%;
    height: auto;
    display: inline-block;

}

/* Change background on mouse-over */
.navbar a:hover, a:focus {
    color: #61CDE8;
}

.nav-stuff::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #61CDE8;
    position: relative;
    top: -10px;
    width: 0;
}

.nav-stuff:hover::before {
    width: 100%;
    justify-content: center;
    transition:  all ease-in-out 300ms;
}

.home {
    font-size: 50px;
    padding: 0;
}


.img-fluid {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.img-text {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 22.5%;
    margin-left: 2%;
    color: #ffffff;
    font-size: 90px;
}

.img-text1 {
    text-align: left;
    /*
    Since p margins are huge, change them so they're closer together
     */
    margin-block-start: 0;
    margin-block-end: 50px;
}

.img-text2 {
    text-align: left;
    padding-left: 5px;

    font-size: 37.5px;
}

.tagline {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    padding-bottom: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

#featured-recipe {
    position: relative;
    background-color: #fff;
    display: table;
    margin-top: -30px;
    font-size: 24px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
}

.featured-image {
    display: table-cell;
    width: 65%;
}

.featured-info {
    font-family: 'Martel', serif;
    vertical-align: top;
    position: relative;
    font-weight: normal;
    display: table-cell;
    width: 35%;
    right: 0;

}

.featured-inner {
    padding: 0 7em 2.8em;
    text-align: center;
}

.featured-header {
    padding-top: 10%;
    text-align: center;
    font-weight: normal;
    font-size: 38px;
}
.featured-title {
    font-weight: normal;
    font-size: 1.3em;
}

.featured-text {
    font-size: medium;
}


.featured-link {
    font-size: small;
    color: black;
    text-decoration: underline;
}

.featured-link:hover {
    text-decoration: none;
}

.vl {
    border-left: 1px solid black;
    position: absolute;
    height: 150px;
    left: 50%;
    margin-left: -3px;
    top: 73%;
}

.view_more {
    font-family: 'Martel', serif;

    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: xx-large;
}
/* end of home page */

/************************/
/************************/
/* Recipes Page CSS */
/************************/
/************************/

#illustration {
    position: relative;
}
.illustration_box {
    background-image: url("../img/food_bg_text.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

    position: absolute;
    right: 0;
    bottom: 0;
    align-items: flex-start;

    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 20px 120px 0 143px;
    width: 750px;
    height: 400px;

    text-align: left;
}

.illustration_title {
    letter-spacing: .56px;
    margin: 0;
    line-height: 1;
    font-size: 3em;
    text-decoration: none;
}

.illustration_body {
    margin-top: 35px;

    letter-spacing: .66px;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.3;
}

.row {
    clear: both;
}

.recipes {
    margin-top: 50px;
}
.recipe-thumb {
    width: 30%;
    margin: 15px;
    background-color: white;
    display: inline-block;
}

.recipe-thumb img {
    width: 100%;
    transition: transform .5s ease;
}

.recipe-thumb:hover img {
    transform: scale(1.1);
}

.recipe-thumb p {
    bottom:0;
    background-color: white;
    text-align: center;
    letter-spacing: 0.6px;
    font-size: medium;
}


/************************/
/************************/
/* Contact Us Page CSS */
/************************/
/************************/

.contact .inner {
    padding-top: 150px;
}
.drawer {
    background-color: white;
    overflow: hidden;
    padding: 35px 20px 35px 35px;
    word-wrap: break-word;
}

.drawer h1 {
    font-size: 50px;
    font-weight: normal;
    margin-left: 45px;
}

.drawer img {
    max-width: 30%;
    height: auto;
    float: left;
    position: relative;
    margin-left: 45px;
    z-index: 0;
}
.drawer p {
    margin-left: 400px;
    margin-right: 30px;
    font-size: 22px;
    line-height: 1.7;
}

.drawer p a {
    border-bottom: 4px solid #9a331e;
}

.drawer p a:hover {
    color: #9a331e;
}


/************************/
/************************/
/* About Us Page CSS */
/************************/
/************************/


.inner header h1 {
    font-size: 50px;
    border-bottom: 3px solid black;
    text-align: center;
    padding-bottom: 30px;
}

.description {
    margin: 5px 50px 50px;
}

.description p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.person-box {
    width: 100%;
    background-color: white;
    border: 1px solid #e6e6e6;
    margin: 0 auto 15px;
    padding: 50px 0 55px;
    position: relative;
    display: inline-block;
}

.person-bio {
    margin-left: 250px;
    margin-right: 50px;
}

.person-bio h2 {
    font-size: 26px;
}

.person-bio p {
    font-size: 16px;
    line-height: 1.5;
}
.person-media {
    float: left;
    width: 265px;
    text-align: center;
}

.mug {
    border-radius: 75px;
    width: 150px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 5px;
}

.insta-handle {
    margin-top: 10px;
    width: 32%;
    display: inline-block;
}

.insta-handle::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #61CDE8;
    position: relative;
    top: 30px;
    width: 0;
}

.insta-handle:hover::before {
    width: 100%;
    justify-content: center;
    transition:  all ease-in-out 300ms;
}
/************************/
/* FOOTER INFO */
/************************/

#footer{
    background: #222;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: left;
    color: #676767;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 20px;
}

#footer .inner {
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 0 0; /* Overwrite */
}

#footer a{
    color: #fff;
}

.right {
    float: right;
    color: #ffffff;
}