html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #363d3a;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#calculator {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.calculator_border {
    margin: 20px;
}

.input_border {
    margin: 0 19px;
}
.input_area {
    width: 520px;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;

    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: #333;
}

.calculator_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}


@media screen and (max-width: 600px){
    #calculator {
        min-width: 100%;
        max-width: 100%;
    }

    .input_area {
        width: 93.5%;
    }

    .input_border{
        margin: 0 3%;
    }
    .calculator_border {
        margin-left: 3%;
        margin-right: 3%;
    }
    .calculator_buttons {
        grid-gap: 20px 3%;
        padding: 3%;
    }
}