* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}
#container {
    font:13px Helvetica, Arial;

}

#title {
    text-align: center;
    margin: 20px;
}
#left {
    display: inline-block;
    float: left;
    width: 25%;
}

#client-box {
    height: 100px;
    background: #0099ff;
    text-align: center;
    color: #eeeeee;
}

#name-description {
    padding-top: 5px;
}
#client-name {
    font-size: 40px;

    /* vertical align */
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#online-users-box {
    background: #f1f9fc;
}
#online-headline {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

#online-users {
    width:100%;
    height: 79vh;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    display: flex;
    flex-direction: column-reverse;
    word-wrap: break-word;
    list-style-type: none;
    margin-left: 3%;
    padding-bottom: 5%;
    font-size: 20px;

}
#right {
    display: inline-block;
    float: right;
    width: 75%;
    border-left: #e5e5e5 solid 1px;
    border-top: #e5e5e5 solid 1px;
    height: 100%;
}

form {
    border-radius: 15px;
    height: 8%;
    bottom: 0;
    width: 100%;
}

form input {
    border-radius: 15px;
    background-color: #b1b1b1;
    height: 60%;
    border: 0;
    padding: 10px;
    width: 88%;
    margin: 0 .5%;
}

form button {
    border-radius: 15px;
    height: 60%;
    width: 10%;
    background: #0099ff;
    border: none;
    padding: 10px;
}

#messages {
    height: 86vh;
    overflow: auto;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    word-wrap: break-word;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    font-size: 18px;
    padding: 5px 10px;
}
