html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    background-color: #101010;
    display: flex;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
}

.page-container {
    width: 100%;
    height: 1080px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* same height as top, since nav bar is 80px currently */
}
.inner header h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.individual_chart h2 {
    margin: 0;
}
.description {
    width: 70%;
    margin: 0 auto;
}

.description p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.visualization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.button_container {
    width: 15%;
    margin-left: 83%;
    margin-top: -20%;
}

.button_container button {
/*    width: 12%; */
    margin-top: 10px;
    padding: 10px;
}

#decade {
    width: 150px;
}

#combine {
    width: 150px;
}

.visual_description {
    text-align: center;
    align-content: center;
    flex-grow: 1;
}
.visual_chart {
    display: flex;
    flex-direction: row;
}
.individual_chart {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#appWindow {
    margin: 20px;
    border: 5px solid #272727;
    background-color: #101010;
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

svg {
    margin: 20px;
    padding: 0;
    border: 5px solid #272727;
    background-color: #101010;
}
rect.bg {
    position: relative;
    width: 100%;
    height: 100%;
    fill: #101010;
}

rect.inner {
    fill: #101010;
}
